/*font-family: 'Inter', sans-serif;*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Open Sans', sans-serif;*/

/*:root {*/
/*    --font1: 80px;*/
/*    --padding: 75px;*/
/*}*/
/*@media (max-width: 1024px) {*/
/*    :root {*/
/*        --font1: 50px;*/
/*        --padding: 60px;*/
/*    }*/
/*    @media (max-width: 796px) {*/
/*        :root {*/
/*            --font1: 40px;*/
/*            --padding: 40px;*/
/*        }*/
/*    }*/

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #000;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}



.button{
    border: 0;

    font-family: inherit;
    font-size: 20px;
    text-align: center;

    cursor: pointer;
}

/*Header-styles*/

.background-container{
    width: 1440px;
    margin: 0 auto;
    background: url('./assets/img/hero.jpeg') no-repeat top;
    background-size: cover;
    padding: 20px 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-container{
    width: 50px;
    height: 50px;
}

.logo-icon{
    transition: fill .3s;
    fill: #FFFFFF;
}

.logo-icon:hover{
    fill: #bdae82;
}

.nav-language-container{
    display: flex;
    margin-left: auto;
}


.nav-list {
    display: flex;

    font-size: 20px;
    line-height: 50px;

    margin-right: 31px;
}

.nav-item{
    margin-right: 30px;
}

.nav-item:nth-child(5n){
    margin-right: 0;
}


.nav-link {
    line-height: 50px;
    transition:color .3s;
    color: #FFFFFF;
}

.nav-link:hover{
    color: #bdae82;
}

.language-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-language{
    background-color: transparent;

    font-weight: bold;
    line-height: 50px;
    color: #FFFFFF;

}

.button-language:hover{
    color: #bdae82;
}

.divider{
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 0 8px;
}

/*Hero-styles*/

.hero{
    background: url('./assets/img/hero.jpeg') no-repeat center -90px;
    background-size: cover;
    height: 820px;
    margin: 0 auto 100px auto;
    width: 1440px;
}

.additional-container{
    margin: 0 auto;
    padding: 0 20px;
}

.hero-text-container{
    width: 500px;
    padding-left: 60px;
    padding-top: 160px;
}

h1{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 2;

    margin-bottom: 10px;
}

.hero p{
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 25px;
}

.hero-button{
    line-height: 40px;
    font-weight: normal;
    color: black;
    background-color: #BDAE82;
    width: 220px;
    padding: 7px 0 8px 0;
    transition: color .3s;
}

.hero-button:hover{
    color: #FFFFFF;
}

/*Section skills styles*/

.skills{
    margin-bottom: 100px;
}

.section-title{
    position: relative;

    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;

    margin-bottom: 60px;
}

.section-title-container{
    overflow-x: hidden;
    width: 50%;
    margin: 0 auto;
}


.section-title:before{
    content: "";
    position: absolute;
    top: 39px;
    left:0;
    width: 39%;
    border: 1px solid #BDAE82;

}

.section-title:after{
    content: "";
    position: absolute;
    top: 39px;
    right:0;
    width: 39%;
    border: 1px solid #BDAE82;

}

.skills-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding-bottom: 10px;
}

.skills-list li{
    width: calc((100% - 120px) / 4);
    margin-right: 40px;
}

.skills-list li:nth-child(4n){
    margin-right: 0;
}


.skills-list li h3{
    font-family: inherit;
    font-size: 20px;
    line-height: 40px;

    margin-bottom: 20px;
}

.skills-icon{
    fill: #BDAE82;
    margin-bottom: 38px;
}

/*Section portfolio styles*/

.portfolio{
    margin-bottom: 100px;
}

.portfolio .section-title:before{
    width: 34%;
}

.portfolio .section-title:after{
    width: 34%;
}

.portfolio-button-list{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.portfolio-button-list li{
    margin-right: 5px;
}

.portfolio-button{
    padding: 6px 0 5px 0;
    width: 220px;
    background-color: transparent;
    color: #BDAE82;
    border: 2px solid #BDAE82;
    line-height: 40px;
    transition: background-color, color .3s;
}

.portfolio-button:hover{
    background-color: #BDAE82;
    color: black;
}

.portfolio-example-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-example-list li{
    width: calc((100% - 50) / 3);
    margin-right: 25px;
    margin-bottom: 25px;
}

.portfolio-example-list li:nth-child(3n){
    margin-right: 0;
}

.portfolio-example-list li:nth-last-child(-n+3){
    margin-bottom: 0;
}

/*Section video styles*/

.video{
    margin-bottom: 100px;
}

.video-player{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-play-button{
    background-color: transparent;
    transition: .3s;
}

.video-play-button .play-icon:hover{
    fill: #BDAE82;
}


.play-icon{
    position: absolute;
    content: "";
    top: 287px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    fill: #FFFFFF;
}

/*Section price styles*/

.price{
    margin-bottom: 100px;
}

.price-list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.price-list li h3{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    color: #FFFFFF;

    margin-bottom: 20px;
}

.price-list li{
    width: calc((100% - 50px) / 3);
    padding: 42px 0;
    margin-right: 25px;
    border: 1px solid #BDAE82;
}

.price-list li:nth-child(3n){
    margin-right: 0;
}

.price-list li span:last-of-type{
    margin-bottom: 40px;
}

.price-value{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;

    margin-bottom: 20px;
}


.price-text{
    display: block;

    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
}

.price-button{
    background-color: #BDAE82;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    width: 220px;
    padding: 7px 38px 6px 38px;
    border: 1px solid #BDAE82;

    transition: background-color, color .3s;
}

.price-button:hover{
    background-color: black;
    color: #BDAE82;
}

/*Section contacts styles*/

.contacts{
    background-size: auto 700px;
    background: url('./assets/img/contactsImg2.jpeg') no-repeat center center;
    height: 700px;
}

.contacts-container{
    display: block;
    text-align: right;
    width: 1400px;
    margin: 0 auto;

}

form{
    display: inline-block;
    margin: 0 auto;
    min-width: 450px;
    text-align: left;
}

input{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border: 1px solid #BDAE82;
    height: 48px;

    margin-bottom: 20px;
}

.contact-title{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;

    margin: 60px 0 40px 0;
}

#comments{
    resize: none;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #BDAE82;
    margin-bottom: 15px;
}

::placeholder{
    color: #BDAE82;
    padding: 5px 0 5px 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}

/*Section footer styles*/
.footer{
    font-size: 20px;
    line-height: 50px;
}

.footer-flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;

    font-size: 20px;
    line-height: 50px;

    padding: 50px 0;
}

.footer-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;

    transition: color, fill .3s;
}


.footer-span{
    margin-right: 20px;
}

.footer-social-list .footer-link{
    padding: 9px 0;
}

.footer-link:hover{
    color: #BDAE82;
}

.icon:hover{
    fill: #BDAE82;
}

.footer-social-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-social-list li{
    margin-right: 20px;
    line-height: 1;
}

.footer-social-list li:nth-child(4n){
    margin-right: 0;
}

.icon{
    fill: #FFFFFF;
}


