html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    background-color: black;
    color: #FFFFFF;
}

body:after{
    content: "";
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 38.25%);
    text-align: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.animation{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.invisible{
    display: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.game-container{
    display: flex;
    justify-content: center;

    padding: 100px 0 100px 0;
}


.controls-container h4{
    text-align: center;
}

.controls-container p{
    margin: 0;
    text-align: center;
}

.controls-container .moving{
    margin-top: 15px;
}

.details{
    font-size: 14px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;

    position: relative;

    width: 400px;
    height: 800px;
}

.game-over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    font-size: 28px;


    border-radius: 10px;

    padding: 20px;

    text-align: center;

}

.success{
    color: rgb(210, 252, 210);
    border: 1px solid rgb(0, 28, 0);
    background-color: rgb(0, 128, 0);
    box-shadow: rgb(150 255 150) 0px 0px 2px 2px inset;
}

.over{
    color: rgb(252, 188, 188);
    border: 1px solid rgb(155, 0, 0);
    background-color: rgb(255, 0, 0);
    box-shadow: rgb(255 150 150) 0px 0px 5px 5px inset;
}

.game-results{
    font-size: 16px;
    margin: 0;
}

.tetromino{
    background-size: 38px 38px;
}
.grid .field{
    height: 38px;
    width: 38px;

    background-color: #ecf0f1;
    border: 1px solid #b1c2c6;
    box-shadow: inset 0 0 2px 2px white;
}

.mini-grid{
    width: 160px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}

.mini-grid div{
    height: 38px;
    width: 38px;
    background-color: #ecf0f1;
    border: 1px solid #b1c2c6;
    box-shadow: inset 0 0 2px 2px white;
}

#start-button{
    padding: 15px 10px;
    border-radius: 5px;

    border-color: rgb(155, 65, 0);
    background-color: rgb(255, 165, 0);
    box-shadow: rgb(255 255 150) 0px 0px 2px 2px inset;

    color: rgb(255 255 150);
    font-size: 16px;
}

#start-button:hover{
    border-color: rgb(0, 28, 0);
    background-color: rgb(0, 128, 0);
    box-shadow: rgb(150 255 150) 0px 0px 2px 2px inset;
    color: rgb(150 255 150);
}

.table-title{
    margin: 15px 0 0 0;
}

.table{
    border:  1px solid #ecf0f1;
    width: 100%;
    border-spacing: 0;
    margin-top: 15px;
    font-size: 12px;

}

.table-title-header{
    background-color: #ecf0f1;
    border: 1px solid #b1c2c6;
    box-shadow: inset 0 0 2px 2px white;
}

th, td{
    border: 0.5px solid #ecf0f1;
    text-align: center;
}

th{
    background-color: #ecf0f1;
    color: black;
    padding: 5px;
}

tr{
    line-height: 20px;
}

footer{
    background-color: black;
}

.footer{
    font-size: 20px;
    line-height: 50px;
}

.footer-flex-container{
    display: flex;
    justify-content: space-between;

    align-content: baseline;

    font-size: 20px;
    line-height: 50px;

    padding: 20px 0;
}

.footer-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;

    transition: color, fill .3s;
}

.footer-link:hover{
    color: rgb(255 255 150);
}

.footer-span{
    margin-right: 20px;
}

.school-icon{
    fill: #FFFFFF;
}
